html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato;
  margin: 0;
  padding: 0;
}
#dice_diceGroup_0 {
  /* background-color: aqua; */
  position: absolute;
  margin: 0;
  padding: 0;
}
/* #dice1,
#dice2 {
  z-index: 30;
} */
.wrapper {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;

  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.sec1,
.sec2 {
  width: 50%;
  float: left;
  height: 530px;
}

.active .player-name {
  font-weight: 300;
}
.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #eb4d4d;
  margin-bottom: 130px;
}
.active {
  background-color: #eaeaea;
}
.active .player-name {
  font-weight: 300;
}

.current-game {
  background-color: #eb4d4d;
  color: #fff;
  width: 20%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}
.label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: #222;
}
.score {
  font-size: 30px;
}
button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  font-weight: 600;
}
button:hover i {
  margin-right: 20px;
}

.btn-new:focus {
  outline: none;
}
#dicebutton:focus {
  outline: none;
}
.btn-hold:focus {
  outline: none;
}

i {
  color: #eb4d4d;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.5s;
}

.btn-new {
  top: 100px;
}
.btn-roll {
  top: 315px;
}
.btn-hold {
  top: 390px;
}

.input-wrap {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
.score-input {
  font-size: 14px;
  font-weight: 100;
  width: 100px;
  text-align: center;
}
.input-wrapp {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 100;
  font-size: 15px;
}

#dice1 {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: 250px;
  margin-left: 30px;

  left: 478px;
}
#dice2 {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: 250px;
  margin-left: 30px;

  left: 568px;
}
#dicebutton {
  position: absolute;
  width: 200px;
  /* top: 370px; */
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  /* text-transform: uppercase; */
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.5s, color 0.5s;
  overflow: hidden;
}
#dicebutton:hover {
  font-weight: 600;
}
#dicebutton:hover i {
  margin-right: 20px;
}

/* #space {
  top: 150px;
  position: absolute;
  left: 41%;
} */

/* @media (max-width: 767px) {
  .sec1,
  .sec2 {
    width: 50%;
    float: left;
    height: 430px;
  }
  .player-name {
    font-size: 20px;
  }
  .player-score {
    font-size: 60px;
  }
  .player-score,
  .player-name {
    font-weight: 100;
  }
  .current-game {
    width: 50%;
    padding: 0px;
  }
  .btn-new {
    top: 70px;
  }
  #dicebutton {
    top: 460px;
  }
  .btn-hold {
    top: 327px;
  }
  .input-wrap {
    bottom: 10px;
    font-size: 14px;
  }
  .input-wrapp {
    font-size: 14px;
    font-weight: 100;
  }
  .score-input {
    font-size: 14px;
    font-weight: 100;
    width: 70px;
  }

  .die {
    width: 40px;
    height: 40px;
    top: 360px;
    left: 39%;
  }
} */
/* #space {
    top: 80px;
    position: absolute;
    left: 18.5%;
  }*/
